header {
  background-color: limegreen;
  border-bottom: 3px solid #000000;
  height: 50px;
  padding: 10px;
}
a {
  text-decoration: none;
}
nav {
  float: right;
}
/* cal css  start*/
.calHeader {
  margin: 0px;
  padding: 0px;
}

#answer {
  margin-top: 0px !important;
  margin-left: 0px !important;
}
#secondStep {
  display: none;

  text-align: center;
  margin: auto;
}
#thirdStep {
  display: none;
  text-align: center;
}
#timeUp {
  color: red;
}
.tryAgainBtn {
  background-color: #4caf50 !important; /* Green */
  border: none;
  color: white;
  padding: 0px !important;
  text-align: center;
  text-decoration: none;
  width: 100px !important;
  height: 40px !important;
  cursor: pointer;
  font-size: 16px !important;
}
.container {
  margin: auto;
  width: 20%;
}

.calc-screen {
  height: 50px;
  padding-top: 0px;
  margin-top: 0px;
}

.calc-button-row {
  width: 100%;

  display: flex;
  justify-content: center;
}

.button {
  width: 100%;
  background: #425062;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3c4857;
  border-bottom: solid 2px #3c4857;
  transition: all 0.2s ease-in-out;
  margin: 1%;
  cursor: pointer;
  flex-grow: 1;
}

.btnClear {
  /* width: 80% !important; */
  flex-grow: 3;
}
.btnZero {
  flex-grow: 1;
  /* width: 30% !important; */
}
.pScore {
  font-weight: bold;
}

.button:hover {
  background: #e0b612;
  transform: rotate(5deg);
}
/* cal css end */
#navli {
  display: inline;
  width: 80px;
  font-size: 25px;
  font-weight: 600;
  padding: 5px;
}

span {
  font-size: 45px;
}
#happyplayer {
  font-size: 40px;
  font-weight: 600;
  text-indent: 550px;
  margin-top: 80px;
  font-style: oblique;
}

.main-banner {
  margin: 0 auto;
  width: 800px;
  height: 80px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  background-color: limegreen;
  color: black;
  font-style: italic;
  border-radius: 5px;
}
.main-banner .imgban {
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-transition: all ease-in-out 500ms;
  -moz-transition: all ease-in-out 500ms;
  -o-transition: all ease-in-out 500ms;
}

.main-banner #imgban3 {
  font-size: 22px;
  font-weight: 600;
}
.main-banner #imgban2 {
  font-size: 22px;
  font-weight: 600;
}
.main-banner #imgban1 {
  font-size: 22px;
  font-weight: 600;
}

#anagram {
  width: 400px;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
}
.anagramtitle {
  font-size: 34px;
}

.buttonanagram {
  border: none;
  background-color: limegreen;
  color: white;
  float: right;
  border-radius: 2px;
  padding: 4px 15px;
}
.buttonanagram:hover {
  background-color: darkgrey;
}

#math {
  width: 400px;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
}
.mathtitle {
  font-size: 30px;
}

.buttonmath {
  border: none;
  background-color: limegreen;
  color: white;
  float: right;
  border-radius: 2px;
  padding: 4px 15px;
}
.buttonmath:hover {
  background-color: darkgrey;
}
.flexparent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-height: 40vh;
}
.flexchild {
  margin-top: 110px;
}
footer {
  border-top: 3px solid #000000;
  display: block;
  margin: 0 auto;
  width: 70%;
}
.foot-copy {
  font-size: larger;
}
#mediabuttons {
  float: right;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-instagram {
  background: #d00bbc;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-envelope {
  background: #40c51e;
  color: white;
}
.dropdown {
  overflow: hidden;
  float: right;
}

.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: black;

  background-color: inherit;
  font-family: inherit;
  font-weight: 600;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px gray;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content :hover {
  background-color: lime;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.contacthead {
  font-size: 45px;
  text-indent: 800px;
}

input[type="text"],
select,
textarea {
  width: 25%;

  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-left: 650px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkgray;
}

.container {
  border-radius: 5px;
  /* background-color: #f2f2f2; */
  padding: 20px;
}

.fname {
  margin-left: 540px;
  font-weight: bold;
}
.lname {
  margin-left: 540px;
  font-weight: bold;
}
.eaddress {
  margin-left: 540px;
  font-weight: bold;
}
.subject {
  margin-left: 540px;
  font-weight: bold;
}

.abouthead {
  font-size: 44px;
}
#about {
  width: 400px;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
}
#aboutus {
  width: 500px;
  font-size: larger;
  font-weight: 700;
  padding: 5px;
  margin-left: 650px;
  margin-bottom: 250px;
  margin-top: 100;
}

.emaillog {
  margin-left: 650px;
  font-weight: bold;
}

.passlog {
  margin-left: 650px;
  font-weight: bold;
}

.passcontainer {
  margin-bottom: 300px;
}

.logsubmit {
  margin-left: 1045px;
}
.needacct {
  margin-left: 800px;
}

.passrepeat {
  margin-left: 650px;
  font-weight: bold;
}
#likegames {
  margin-left: 650px;
}
.mathfactshead {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

#mathList {
  background: black;
  color: white;
  text-align: center;
  width: 20%;
  display: block;
  margin-left: 750px;
}

#mathList:hover {
  background-color: lime;
  color: #000000;
}

.go {
  background-color: lime;
  font-weight: 520;
  font-size: large;
  width: 80px;
  height: 39px;
  margin-bottom: 50px;
  margin-left: 900px;
}

#instr {
  text-align: center;
  margin-bottom: 300px;
  font-size: large;
}
